body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: fit-content;
  }
  
  nav {
    width: 20%;
    height: 100vh;
    background-color: black;
    border-radius: 0px 25px 25px 0px;
  }
  .logo {
    width: 360px;
    height: auto;
    padding: 18px;
    max-width: 86%;
  }
  #userDetails {
    position: absolute;
    bottom: 0px;
    width: 20%;
    background-color: #1a2027;
    border-radius: 0px 0px 25px 0px;
  }
  #userDetails img {
    border-radius: 50%;
    width: 55px;
    height: auto;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 14px;
  }
  #userDetails img,
  .userInfo {
    display: inline-block;
  }
  .userInfo h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0px;
    padding: 10px;
    padding-bottom: 4px;
    padding-top: 6px;
    margin-top: 7px;
  }
  .userInfo p {
    color: grey;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-bottom: 8px;
  }
  #whenSignedOut {
    position: absolute;
    transform: translate(-50%, -50%);
    word-spacing: 1px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: Inter, -apple-system, Nunito, BlinkMacSystemFont, "Segoe UI",
      Roboto, sans-serif;
    color: #000;
    font-size: 16px;
    user-select: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
    margin: 0;
    transform: rotate(17deg) scale(0.5);
  }
  #whenSignedOut button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding-bottom: 5px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 15px;
    border-radius: 30px;
    font-size: 20px;
    outline: none;
    border: none;
    font-family: "Lexend", sans-serif;
  }
  #whenSignedOut button .fab {
    padding: 10px;
  }
  
  ul li a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
  }
  ul li a img {
    width: 35px;
    height: 35px;
    padding: 4px 5px 4px 6px;
  }
  ul li a :hover {
    background-color: #303337;
  }
  ul li a {
    display: inline-flex;
  }
  #nav > ul > li > a > h6 {
    width: fit-content;
    margin: 0px;
    padding: 0px;
    padding-top: 11px;
    padding-left: 18px;
    font-size: 21;
    font-family: "Lexend", sans-serif;
  }
  #nav ul {
    padding: 0px 0px 0px 25px;
  }
  /* font-family: 'Lexend', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Ubuntu', sans-serif; */
  .center-bar {
    word-spacing: 1px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: Inter, -apple-system, Nunito, BlinkMacSystemFont, "Segoe UI",
      Roboto, sans-serif;
    color: #000;
    font-size: 16px;
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 200px;
    width: 100%;
    transform: rotate(-17deg) scale(2);
  }
  .center-bar-wrap {
    word-spacing: 1px;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: Inter, -apple-system, Nunito, BlinkMacSystemFont, "Segoe UI",
      Roboto, sans-serif;
    color: #000;
    font-size: 16px;
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #whenSignedOut img {
    user-select: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
    margin: 0;
    width: 420px;
    height: auto;
  }
  .signUpSection {
    word-spacing: 1px;
    -webkit-text-size-adjust: 100%;
    -webkits-font-smoothing: antialiased;
    font-family: Inter, -apple-system, Nunito, BlinkMacSystemFont, "Segoe UI",
      Roboto, sans-serif;
    color: #000;
    font-size: 16px;
    user-select: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
    margin: 0;
    display: inline-flex;
  }