body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: fit-content;
  }
  
  nav {
    width: 22%;
    height: 100vh;
    background-color: black;
    border-radius: 0px 25px 25px 0px;
    float: left;
  }
  
  .userInfo{
    color: white;
    text-align: center;
    margin: 0;
  }

  #userDetails img{
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    max-width: 40%;
    padding: 20px;
  }

  nav #time{
    color: white;
    text-align: center;
    margin: 0;
  }

.auth-logo{
  width: 550px;
  height: auto;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#signInBtn{
  margin: 0;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 5%;
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 14px 24px 14px 24px;
}

div .widget-container{
  display: flex;
  align-items: center;
  justify-content: center
}
div.weather-icon > img{
  width: 90px;
  height: auto;
}

div.temperature-value > p{
  font-size: 30px;
  color: white;
}
div.location > p{
  color: #a2a2a2;
  font-size: 18px;
  max-width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
