body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: fit-content;
  }
  
  nav {
    width: 20%;
    height: 100vh;
    background-color: black;
    border-radius: 0px 25px 25px 0px;
  }
  .logo {
    width: 360px;
    height: auto;
    padding: 18px;
    max-width: 86%;
  }
  #userDetails {
    position: absolute;
    bottom: 0px;
    width: 20%;
    background-color: #1a2027;
    border-radius: 0px 0px 25px 0px;
  }
  #userDetails img {
    border-radius: 50%;
    width: 55px;
    height: auto;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 14px;
  }
  #userDetails img,
  .userInfo {
    display: inline-block;
  }
  .userInfo h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0px;
    padding: 10px;
    padding-bottom: 4px;
    padding-top: 6px;
    margin-top: 7px;
  }
  .userInfo p {
    color: grey;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-bottom: 8px;
  }
