body{
    display: flex;
}

.faded{
    display: flex;
    border: 2px solid red;
}

.faded h4{
    display: flex;
    border: 2px solid yellow;
    height: fit-content;
}

.faded img{
/* display: flex; */
padding-top:8%;
padding-left:0;
}